body {
  font-family: 'Space Mono', sans-serif;
  color: rgb(66, 66, 65);
  background-color: #fafafa;
  margin: 0px auto;
  overflow: hidden;
}

html, body {
  height: 100%;
}

div#root {
  height: 100%;
}

input {
  font-size: 16px;
  padding: 5px 20px;
  font-family: inherit;
  width: 75%;
  max-width: 450px;
  transition: transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  border: 0px;
  border-bottom: 1px solid #d9d9d9;
}

input:focus {
  transform: translateY(-6px);
  transition: transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  outline: none;
  color: black;
  border-bottom: 1px solid black;
}


div#pageContainer {
  height: 100%;
}

div#sidebarContainer {
  font-size: 16px;
  float: left;
  width: 40%;
  padding: 10px 0px;
  box-sizing: border-box;
  height: 100%;
  box-sizing: border-box;
  text-align: right;
  overflow-y: scroll;
}

ul.listOptionsUl {
  margin-top: 30px;
  padding-left: 0px;
  color: #707070;
}


.titleHeader {
  font-weight: bold;
  font-size: 2em;
  padding-right: 30px;
  transition: transform 200ms;
}

a.titleALink {
  text-decoration: none;
  color: black;
  transition: color 300ms;
}

li.listOption {
  text-decoration: none;
  list-style: none;
  padding: 10px 30px;
  transition: background-color 200ms, color 200ms;
  cursor: pointer;
}

li.listOption:hover {
  color: black;
  transition: background-color 200ms, color 200ms;
  background-color: #F5F5F5;
}

li.newListButton {
  text-decoration: none;
  list-style: none;
  padding: 10px 30px;
  color: #c3c3c3;
  transition: color 250ms, transform 250ms ease-out;
  cursor: pointer;
}

li.newListButton:hover {
  color: black;
  transform: translateY(-1px);
  transition: all 250ms ease-out;
}

h2.listTitle {
  margin-top: 30px;
  margin-bottom: 0px;
  padding-left: 50px;
}

#appContainer {
  font-size: 16px;
  width: 60%;
  margin-left: 40%;
  padding: 40px 10px;
  background-color: white;
  height: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
}

#formAndListsContainer {
  max-width: 700px;
}

#formWrapper {
  text-align: left;
  margin-left: 50px;
}

button.removeBtn {
  width: 23px;
  height: 23px;
  padding:4px 5px;
  display: inline-block;
  float: left;
  border-radius: 0px;
  background: #ffffff;
  border: solid #FFFFFF 1px;
  text-decoration: none;
  color: inherit;
  outline: none;
  border-radius: 40px;
  transition: transform 200ms ease-out, background-color 200ms ease-out;
  cursor: pointer;
}

button.removeBtn:hover {
  opacity: 1;
  transform: translateX(-1px);
  background-color: lightcoral;
  transition: transform 200ms ease-out, background-color 200ms ease-out;
  color: white;
}

div.listItemWrapper {
  padding: 10px 10px;
  margin: 5px 0px;
  margin-left: 32px;
  color: rgb(66, 66, 65);
  cursor: default;
}

li#acu {
  text-decoration: none;
  text-align: center;
  list-style: none;
}

ul.allTodosUl {
  margin-top: 10px;
  padding-left: 0px;
}

img.felixTheCat {
  display: block;
  width: 200px;
  height: 200px;
  margin: 20px auto 20px auto;
  /* opacity: 0.85; */
}

li.todos {
  display: inline-block;
  max-width: 90%;
  margin-left: 10px;
}

input.secondInputWrapper {
  border: none;
  padding: 0 !important;
  margin: 0 !important;
}

/* span.wiredLink {
  cursor: pointer;
  text-decoration: none;
  transition: background-color 300ms ease-out;
  box-shadow: inset 0 -9px 0 #f0f0f0;
  border-bottom: 0px solid #f0f0f0;
}

span.wiredLink:hover {
  background-color: #f0f0f0;
  transition: background-color 300ms ease-out;
} */

/* CSS Transition */

.EnterTransition-appear {
  opacity: 0;
  transform: translateY(3px);
}

.EnterTransition-appear.EnterTransition-appear-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 1000ms ease-out;
}

.EnterTransition-enter {
  opacity: 0.4;
  transform: translateY(3px);
}

.EnterTransition-enter.EnterTransition-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 350ms ease-out;
}

/* .EnterTransition-leave {
  opacity: 1;
  transform: translateX(0px);
}

.EnterTransition-leave.EnterTransition-leave-active {
  opacity: 0;
  transform: translateX(-10px);
  transition: all 200ms ease-out;
} */

/* float button */

.float{
	position:fixed;
	width:50px;
	height:50px;
	bottom:30px;
	right:30px;
	background-color: #fafafa;
	color: black;
	border-radius:50px;
	text-align:center;
	box-shadow: 0px 1px 10px lightgray;
}
